<footer class="site-footer">
      <div class="container">
        <div class="footer-branding-container">
          <div class="footer-zoomer">
            <img src="/assets/logo_transparent.png" class="footer-logo-anim" alt="EXG Logo" />
          </div>

          <div class="footer-text-block">
            <p class="footer-company-name">Excelsior Genetics, LLC</p>
            <p class="footer-line">42901 NY-12, Suite B</p>
            <p class="footer-line">Alexandria Bay, NY 13607</p>
            <a href="mailto:hi@exgenetics.com" class="footer-email">Hi@ExGenetics.com</a>
          </div>
        </div>
        <!-- <ul class="social-list">
          <li>
            <a href="#" aria-label="Twitter"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="#" aria-label="Facebook"
              ><i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://instagram.com/excelsior_exg"
              target="_blank"
              aria-label="Instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </li>
        </ul> -->
        <p class="copyright-text">
          &copy; <span id="copyrightYear"></span> All Rights Reserved.
        </p>
      </div>
    </footer>

    <button id="backToTop" title="Go to top">
      <i class="fa-solid fa-arrow-up"></i>
    </button>

    <div id="success-modal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-icon">
      <i class="fa-solid fa-check-circle"></i>
    </div>
    <h3>Message Received</h3>
    <p>Thank you for reaching out. Our team (and our Bot-any Dept.) are reviewing your inquiry now.</p>
    <button id="close-modal" class="btn-modal">Close</button>
  </div>
</div>

<script src="https://kit.fontawesome.com/d5dc95c60e.js" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>

<% if (currentPath === '/contact') { %>
  <script src="/js/contact.js"></script>
<% } %>

</body>
</html>