.under-construction {
  margin: 200px auto 50px auto;
}

/* Carousel */
.middle {
  background-color: black;
  height: 400px;
  width: 70%;
  padding-left: 0;
  padding-right: 0;
  margin: 10px auto;
}

.carousel {
  padding: 0;
  width: 400px;
  margin: auto;
}

.carousel-img {
  border-radius: 25%;
  height: 400px;
}

@media only screen and (max-width: 550px) {
  .middle {
    width: 80%;
  }
  .carousel {
    width: 100%;
  }

  .carousel-img {
    height: 300px;
    border-radius: 10%;
  }

  .construction {
    font-size: 0.7rem;
  }
}
/* End of Carousel */
