/* --- 3. GHOST STATS (Vertical Stack) --- */
  .ghost-stats-container {
    display: flex; 
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
  }
  
  .ghost-divider {
    width: 50%;
    height: 1px; 
  }